body {
    background-color: #000000;
}

/* ------------------------------------------------------------------------- */

/* Style the header with a sticky behavior */
#Elegant-coding-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Box shadow properties chhe*/
    z-index: 100;
    /* z-index ne nav ni z-index karta ochhi rakhic hhe */
    padding: 20px;
}

.my-website-name-container {
    text-align: center;
}

.my-website-name {
    font-size: 24px;
    margin: 0;
    color: #6b46c1;
    font-weight: 700;
}

.nav-menu-button-container {
    float: left;
}

#nav-menu-button {
    background-color: #ffffff;
    border: 1px solid #12181f;
    color: #000000;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    padding: 5px 15px;
}

#nav-menu-button:hover {
    color: #6b46c1;
    border-color: #6b46c1;
    transition: 300ms;
}

/* ------------------------------------------------------------------------- side navigation*/

/* Style the side navigation */
#side-nav {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    background-color: #12181f;
    /* Updated background color */
    z-index: 101;
    overflow-x: hidden;
    transition: 0.3s;
}

#nav-close-button-container {
    padding: 20px 20px 50px 0px;
}

/* Style the close button inside the side navigation */
#nav-close-button {
    background-color: #12181f;
    border: 1px solid #fff;
    color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    padding: 5px 15px;
    float: right;
}

#nav-close-button:hover {
    color: #00eeffd8;
    border-color: #00eeffd8;
    transition: 300ms;
}

#side-nav h3 {
    color: #e6ecf2;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-weight: 600;
}

#side-nav h2 {
    color: #6b46c16e;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 0px 1px #00f2ff;
}

/* Style the side navigation links */
#side-nav ul {
    list-style: none;
    width: 90%;
    padding: 0% 5%;
}

#side-nav li {
    padding: 5px 20px;
    border-left: 5px solid transparent;
    border-radius: 5px;
    margin-bottom: 2px;
}

#side-nav li:hover {
    border-left: 5px solid #6b46c1;
    background-color: #6b46c16e;
    cursor: pointer;
}

#side-nav a {
    text-decoration: none;
    color: #fff;
    /* width: 150px; */
}

#side-nav a:hover {
    color: #fff;
}

/* ------------------------------------------------------------------------- */

/* Main content container */
main {
    padding: 50px;
    transition: 0.3s;
    z-index: 100;
}

@media only screen and (max-width: 500px) {
    main {
        padding: 10px;
    }
}

/* ------------------------------------------------------------------------- Portfolio-hero-section*/

.highlight-section {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, #370096, #410041);
    animation: gradientAnimation 10s linear infinite;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@keyframes gradientAnimation {
    0% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.cursor-highlight {
    position: absolute;
    background: #ff00fb80;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    mix-blend-mode: screen;
    pointer-events: none;
    transition: transform 0.15s, opacity 0.3s;
    filter: blur(10px);
    box-shadow: 0 0 10px #00000080;
    /* Darker shadow */
}

.particle {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    pointer-events: none;
    animation: particlesAnimation 3s linear infinite;
}

@keyframes particlesAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.portfolio-hero-section {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.main-text-container {
    text-align: center;
    color: #fff;
    z-index: 1;
}

.main-text-container>h1 {
    margin: 0px;
    font-size: 50px;
    letter-spacing: 1px;
    padding: 0;
}

.main-text-container>h2 {
    font-size: 50px;
    margin: 0px;
    padding: 0;
}

.main-text-container>p {
    font-size: 30px;
    letter-spacing: 1.5px;
    margin: 30px 0px;
    padding: 0;
}

.portfolio-hero-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.portfolio-hero-button:hover {
    background-color: #6b46c12c;
    color: #ffffff;
    border: 1px solid #007BFF;
    transition: 500ms;
}


/* ------------------------------------------------------------------------- */


.about-section {
    margin: 20px;
    padding: 2rem;
    background-color: #001b367c;
    color: #8e9a9d;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
    font-size: 1.5rem;
    color: #0dcaf0;
    margin-bottom: 1rem;
}

.about-section p {
    font-size: 1.2rem;
    color: #ffffff;
}

.about-section a {
    color: #0dcaf0;
    text-decoration: none;
}

.about-section a:hover {
    text-decoration: underline;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.about-section h1 {
    text-align: center;
    font-size: 30px;
    color: #0dcaf0;
    /* margin-bottom: 30px; */
}

.about-description {
    flex: 1;
    padding: 5px;
}

.about-description p {
    font-size: 20px;
    color: #ffffff;
}

.about-description button {
    background-color: #0dcaf0;
    border: 1px solid #0dcaf0;
    color: #212529;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    transition: 300ms;
}

.about-description button:hover {
    background-color: #212529;
    color: #0dcaf0;
    transition: 500ms;
}

.about-photo {
    flex: 1;
    text-align: center;
    padding: 0%;
    /* background-color: #00f2ff47; */
    max-width: 400px;
}

.about-photo img {
    width: 200px;
    border: 1px solid #ffffff47;
    border-radius: 100%;
}

@media only screen and (max-width: 800px) {

    .about-container {
        flex-direction: column-reverse;
    }

    .about-section {
        /* background-color: #000000; */
        font-size: 15px;
        margin: 10px 5px;
        padding: 10px;
        /* padding: 2rem; */
    }

    .about-description p {
        font-size: 18px;
    }
}

/* ------------------------------------------------------------------------- Strip*/

.strip-1 {
    background-color: rgb(0, 0, 0);
    padding: 50px 0px;
}

.random-text-content-container {
    max-width: 1000px;
    border: 1px solid #4cfff9;
    border-radius: 10px;
    background-color: #00fff714;
    color: #ffffff;
    margin: 30px auto;
    padding: 40px 60px;
    font-size: larger;
}

.random-text-content-container>p {
    font-size: 20px;
}

@media only screen and (max-width:800px) {

    .random-text-content-container {
        padding: 10px 30px;
        margin: 0px 10px;
    }

    .random-text-content-container>p {
        color: #88c0fd;
        font-size: 18px;
    }
}

/* ------------------------------------------------------------------------- PROJECTS*/

.projects-container {
    padding: 30px 0;
}

.projects-container>h1 {
    color: #0dcaf0;
    text-align: center;
    margin: auto;
    font-size: 30px;
    padding: 2px 3px;
}

.project-content-container {
    max-width: 1100px;
    border: 1px solid #8080803b;
    border-radius: 10px;
    background-color: #ffffff00;
    margin: 30px auto;
    padding: 60px 40px;
}

.project-content-container:hover {
    border: 1px solid #00d0ff73;
}

.project-content-container>h1 {
    color: #aa46c1;
    margin: 0px 10px;
}

.project-content-container>p {
    color: #b2b2b2;
    padding: 10px 10px;
    margin: 0%;
}

.project-content-container>h3 {
    margin: 0px 10px;
    color: #ffffff;
}

.project-content-container>ul>li {
    color: white;
}

.project-content-container>ul>li>a {
    color: #3affeb;
}

.project-content-container>ul>li>a:hover {
    text-decoration: 1px #00fbff underline;
}

.project-content-container>ul {
    background-color: #0069d941;
    border-radius: 10px;
    padding: 30px 50px;
}

.project-content-container>ul>li {
    list-style: circle;
    margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {

    .project-content-container {
        padding: 40px 10px;
    }

    .project-content-container>ul {
        background-color: #0069d941;
        border-radius: 10px;
        padding: 40px 40px;
    }
}

/* ------------------------------------------------------------------------- Education Details*/

.portfolio-education-details {
    background-color: #000000;
    padding: 30px 10px;
    text-align: center;
    color: aliceblue;
    /* color: rgb(0, 33, 62); */
}

.portfolio-education-details>h1 {
    color: #0dcaf0;
    text-align: center;
    margin: auto;
    font-size: 30px;
    padding: 2px 3px;
}

.current-status {
    font-size: 28px;
}

.education-details-container {
    background-color: #00fff709;
    max-width: 1000px;
    margin: 50px auto;
    padding: 50px 0px;
    display: flex;
    border: 1px solid #561c8c93;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.education-container {
    margin: 10px;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    background-color: #3604ff10;
    border: 1px solid #00fff714;
    text-align: center;
}

.education-container:hover {
    border: 1px solid #00fff793;
    cursor: pointer;
    transition: 1s;
}

.degree-logo {
    font-size: 60px;
    margin: 0%;
    padding: 0%;
}

/* Style for the degree name */
.degree-name {
    font-weight: bold;
    font-size: 18px;
}

/* Style for the branch name */
.branch-name {
    font-style: italic;
    font-size: 16px;
}

/* Style for the pursuing location */
.pursuing-location {
    font-size: 14px;
}

/* Style for the education result */
.education-result {
    font-size: 14px;
}

@media only screen and (max-width: 800px) {
    .education-container {
        width: 100%;
    }
}

/* ------------------------------------------------------------------------- Contact Details*/

.contact-details-section {
    background-color: #000000;
    padding: 30px 10px;
    text-align: center;
    color: aliceblue;
    /* color: rgb(0, 33, 62); */
}

.contact-details-section>h1 {
    color: #00f2ff;
    font-size: 30px;
}

.contact-details-container {
    background-color: #00fff709;
    max-width: 1000px;
    margin: 50px auto;
    padding: 50px 0px;
    display: flex;
    /* border: 1px solid #00ff2f68; */
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-container {
    margin: 10px;
    /* padding: 20px; */
    width: 100px;
    height: 80px;
    border-radius: 10px;
    background-color: #3604ff10;
    border: 1px solid #00fff714;
    text-align: center;
}

.contact-container:hover {
    border: 1px solid #00fff793;
    cursor: pointer;
    transition: 1s;
}

/* .contact-logo{
    width: 100px;
    height: 100px;
} */


.contact-logo>a>img {
    height: 50px;
    width: 50px;
}

/* ------------------------------------------------------------------------- More CSS at different place*/

.ElegantCoding-developer .container {
    background: #00ffee47;
}